<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>learning logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        nav{
            background-color: #6a2a82;
        }
        .page-header{
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark sticky-top">
      <div class="container-fluid">
          <div class="collapse navbar-collapse">
              <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Logs</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a></li>
              </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li class="nav-item"><a class="navbar-brand">Hello, {{ user.username }}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">logout</a></li>
              {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'users:signup' %}">signup</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">login</a></li>
              {% endif %}
          </ul>
      </div>
    </nav>
    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
