{% extends "learning_logs/base.html" %}
{% block header %}
<h1>Login to your account</h1>
{% endblock %}
{% block content %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <p><input name="username" type="text" placeholder="username" class="form-control"/></p>
    <p><input name="password" type="password" placeholder="password" class="form-control"/></p>
    <p><input type="submit" value="Login" class="btn btn-primary"/></p>
</form>
{% endblock %}
